snippet IO "include IO"
#include <iostream>$1
endsnippet

snippet str "std::string"
std::string("$1")
endsnippet
	
snippet vec "std::vector< >"
std::vector< $1 > $2
endsnippet
	
snippet main "main function template"
int main(int argc, char **args) {}
endsnippet


