snippet lst "listing"
\begin{lstlisting}
	$1
\end{lstlisting}
endsnippet

snippet al "align"
\begin{align}
	$1
\end{align}
endsnippet

snippet par "()"
\($1\)$2
endsnippet

snippet und "_"
_{$1}$2
endsnippet

snippet pow "^"
^{$1}$2
endsnippet


